<!DOCTYPE html>
<html>
    <head>
        <title>Spotted Wall</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='lib/underscore/underscore.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='lib/backbone/backbone.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='lib/handlebars/handlebars.min.js') }}"></script>
        {% block extra_head %}{% endblock %}
    </head>
    <body>

        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="/">Spotted Wall</a>
                {#<ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>#}
            </div>
        </div>

        <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                {% block content %}{% endblock %}
            </div>
        </div>
        </div>

    </body>
</html>
