{% extends "base.jinja" %}

{% block content %}
    <h1>Server: {{ name }}</h1>

    <div class="well">
        <strong>Connection URL:</strong> {{ host }}
    </div>

    <ul class="nav nav-tabs">
        <li class="active">
            <a href="{{ url_for('server_dashboard', server_name=name) }}">Home</a>
        </li>
        <li>
            <a href="{{ url_for('server_add_message', server_name=name) }}">Add message</a>
        </li>
        <li>
            <a href="{{ url_for('server_dashboard', server_name=name) }}">Manage queue</a>
        </li>
    </ul>

    <a href="{{ url_for('server_add_message', server_name=name) }}" class="btn btn-success">
        Add message
    </a>

    <h2>Messages in queue <small>({{ messages|length }} total)</small></h2>

    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Text</th>
            <th>Color</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.text }}</td>
                <td>{{ message.color }}</td>
                <td>---</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <h2>Messages on screen <small>({{ messages|length }} total)</small></h2>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Color</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for message in messages %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.text }}</td>
                <td>{{ message.color }}</td>
                <td>---</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
